@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .center-x {
        @apply left-1/2 -translate-x-1/2;
    }

    .center-y {
        @apply top-1/2 -translate-y-1/2;
    }

    .center-xy {
        @apply center-x center-y;
    }
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
